:root {
  --white: #ffffff;
  --black: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.add-user {
  height: 300px;
  padding: 20px;
  border: 1px solid orange;
  margin: 10px;
}

.display-user {
  height: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid orange;
  overflow: auto;
}

.add-user-input {
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 10px;
  display: block;
}

input:focus {
  outline: none;
}

.add-user-btn {
  width: 300px;
  height: 40px;
  background-color: rgb(243, 235, 235);
  margin-top: 20px;
  text-align: center;
  border: 1px solid gray;
  cursor: pointer;
}

.display-user .data {
  margin-top: 20px;
}

.display-user .user-item {
  background-color: rgb(255, 228, 233);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-user .user-item button {
  padding: 5px 20px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.add-user a {
  display: block;
  margin-top: 10px;
}

.add-todo {
  padding: 30px;
}

.add-todo input {
  width: 300px;
  height: 40px;
  padding: 10px;
  outline: none;
}

.add-todo h2 {
  margin-bottom: 10px;
}

.add-todo button {
  width: 120px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.todo-list {
  padding: 20px;
}

.todo-list h2 {
  margin-bottom: 20px;
}
.todo-list span{
  margin-bottom: 10px;
  display: inline-block;
}
.api-data{
  padding: 50px;
}
.api-data h2{
  margin-bottom: 20px;
}
.api-data h4{
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
}